@import url("https://raw.githubusercontent.com/Whiskers-Color-Scheme/discord/main/themes/tiger/base.css");

:root {
  --accent-1: #a87b0a; /* links */
  --accent-2: #a87b0a; /* general unread/mention elements */
  --accent-3: #a87b0a; /* accent buttons */
  --accent-4: #a87b0a; /* accent buttons when hovered */
  --accent-5: #a87b0a; /* accent buttons when clicked */
}

/* discsord chat icon */
.childWrapper__01b9c:has(> svg:not(.favoriteIcon_adf80e)) {
	background: url('https://raw.githubusercontent.com/Whiskers-Color-Scheme/discord/f6e364dd353899dee935a578abaf0aceb09c1f55/discord-icons/tiger/banana.svg');
	background-color: transparent !important;
	background-size: cover;
}