@import url('https://raw.githubusercontent.com/Whiskers-Color-Scheme/discord/main/themes/panther/base.css');

:root{
    --accent-1: #FFE072; /* links */
	--accent-2: #FFE072; /* general unread/mention elements */
	--accent-3: #FFE072; /* accent buttons */
	--accent-4: #FFE072; /* accent buttons when hovered */
	--accent-5: #FFE072; /* accent buttons when clicked */
}

/* discsord chat icon */
.childWrapper__01b9c:has(> svg:not(.favoriteIcon_adf80e)) {
	background: url('https://github.com/Whiskers-Color-Scheme/discord/blob/main/discord-icons/panther/banana.svg');
	background-color: transparent !important;
	background-size: cover;
}