@import url('https://raw.githubusercontent.com/Whiskers-Color-Scheme/discord/main/themes/panther/base.css');

:root{
    --accent-1: #A5CEFF; /* links */
	--accent-2: #A5CEFF; /* general unread/mention elements */
	--accent-3: #A5CEFF; /* accent buttons */
	--accent-4: #A5CEFF; /* accent buttons when hovered */
	--accent-5: #A5CEFF; /* accent buttons when clicked */
}

/* discsord chat icon */
.childWrapper__01b9c:has(> svg:not(.favoriteIcon_adf80e)) {
	background: url('https://raw.githubusercontent.com/Whiskers-Color-Scheme/discord/f6e364dd353899dee935a578abaf0aceb09c1f55/discord-icons/panther/blueberry.svg');
	background-color: transparent !important;
	background-size: cover;
}