@import url('https://raw.githubusercontent.com/Whiskers-Color-Scheme/discord/main/themes/panther/base.css');

:root{
    --accent-1: #FF8C7C; /* links */
	--accent-2: #FF8C7C; /* general unread/mention elements */
	--accent-3: #FF8C7C; /* accent buttons */
	--accent-4: #FF8C7C; /* accent buttons when hovered */
	--accent-5: #FF8C7C; /* accent buttons when clicked */
}

/* discsord chat icon */
.childWrapper__760c6:has(> svg:not(.favoriteIcon_adf80e)) {
	background: url('https://raw.githubusercontent.com/Whiskers-Color-Scheme/discord/main/discord-icons/panther/cherry.svg');
	background-color: transparent !important;
	background-size: cover;
}