@import url('https://raw.githubusercontent.com/Whiskers-Color-Scheme/discord/main/themes/panther/base.css');

:root{
    --accent-1: #FFAAF5; /* links */
	--accent-2: #FFAAF5; /* general unread/mention elements */
	--accent-3: #FFAAF5; /* accent buttons */
	--accent-4: #FFAAF5; /* accent buttons when hovered */
	--accent-5: #FFAAF5; /* accent buttons when clicked */
}