@import url('https://raw.githubusercontent.com/Whiskers-Color-Scheme/discord/main/themes/panther/base.css');

:root{
    --accent-1: #B1E380; /* links */
	--accent-2: #B1E380; /* general unread/mention elements */
	--accent-3: #B1E380; /* accent buttons */
	--accent-4: #B1E380; /* accent buttons when hovered */
	--accent-5: #B1E380; /* accent buttons when clicked */
}

/* discsord chat icon */
.childWrapper__01b9c:has(> svg:not(.favoriteIcon_adf80e)) {
	background: url('https://github.com/Whiskers-Color-Scheme/discord/blob/main/discord-icons/panther/kiwi.svg');
	background-color: transparent !important;
	background-size: cover;
}